numpy
pandas
Flask
scikit-learn
https://files.pythonhosted.org/packages/ca/18/76dbc27b3aba3ca4946aebc6e116db446d4e76d086e906b0ff313b2b7ad8/torch-1.9.0-cp36-cp36m-manylinux2014_aarch64.whl
https://download.pytorch.org/whl/cpu/torchvision-0.8.1%2Bcpu-cp36-cp36m-linux_x86_64.whl
requests
Pillow
gunicorn == 20.0.4
